{% extends "user/base.html" %}
{% load static %}

{% block navbar-header %}
<h2 class="header">Pavillon des Urgences</h2>
{% endblock navbar-header %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card card-stats card-round mb-3 p-4">
      <div class="card-body">
        <h2 class="text-center">Fonctionnalité en cours de développement</h2>
        <p class="text-center">Nous travaillons actuellement sur cette fonctionnalité. Merci de votre patience.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
