{% extends "user/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar-header %}
<h2 class="header">Dispositif de Gestion des Urgences -SGU-</h2>
{% endblock navbar-header %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center mb-4 p-4">
          <h2>Liste des assistances à domicile</h2>
          {% if domiciles %}
          <ul>
              {% for domicile in domiciles %}
              <li>
                  <a href="{% url 'domicile_detail' domicile.pk %}">{{ domicile.symptom }}</a>
              </li>
              {% endfor %}
          </ul>
          {% else %}
          <h1 class="text-center">Aucune assistance à domicile disponible pour le moment</h1>
          {% endif %}
          {% if is_medecin %}
          <a href="{% url 'domicile_create' %}" class="btn btn-primary d-inline-block">Ajouter une nouvelle assistance Domicile</a>
          {% endif %}        
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
