{% extends "user/base.html" %}
{% load static %}

{% block navbar-header %}
<h2 class="header">Dispositif de Gestion des Urgences -SGU-</h2>
{% endblock navbar-header %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
            <a href="{% url 'pavillon' %}">
                <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                        <h1 class="">Pavillon</h1>
                        <img src="{% static 'assets/img/undraw_medicine_b-1-ol.svg' %}" alt="Pavillon Image" width="200" height="200">            
                    </div>
                </div>
            </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
            <a href="{% url 'route_list' %}">
                <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                    <h1 class="">Routes</h1>
                        <img src="{% static 'assets/img/undraw_firmware_re_fgdy.svg' %}" alt="Route Image" width="200" height="200">            
                    </div>
                </div>
           </a> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
            <a href="{% url 'domicile_list' %}">
                <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                    <h1 class="">Domicile</h1>
                    <img src="{% static 'assets/img/undraw_at_home_re_1m0v.svg' %}" alt="Domicile Image" width="200" height="200">           
                    </div>
                </div>
            </a>     
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
            <a href="{% url 'update_profile' %}">
                <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                        <h1 class="">Usagers</h1>
                        <img src="{% static 'assets/img/undraw_reviews_lp8w.svg' %}" alt="Usagers Image" width="200" height="200">            
                    </div>
                </div>
            </a>   
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}